.option {
    width: 25vw;
    height: 22vh;
    background-color: blue;
    margin: 0.5vh 0.5vw;
    cursor: pointer;
}

@keyframes hoverAnimation {
    100% {
        transform: scale(105%, 105%);
        -webkit-box-shadow:0px 0px 14px 6px rgba(255,255,255,0.79);
        -moz-box-shadow: 0px 0px 14px 6px rgba(255,255,255,0.79);
        box-shadow: 0px 0px 14px 6px rgba(255,255,255,0.79);
    }
}

@keyframes endHoverAnimation {
    0% {
        transform: scale(105%, 105%);
        -webkit-box-shadow:0px 0px 14px 6px rgba(255,255,255,0.79);
        -moz-box-shadow: 0px 0px 14px 6px rgba(255,255,255,0.79);
        box-shadow: 0px 0px 14px 6px rgba(255,255,255,0.79);
    }
    100% {
        transform: scale(100%, 100%);
        -webkit-box-shadow:0px 0px 0px 0px;
        -moz-box-shadow:0px 0px 0px 0px;
        box-shadow: 0px 0px 0px 0px;
    }
}


