.white-bg {
 width: 80vw;
 height: 80vh;
 background-color: white;
 position: absolute;
 left: 50%;
 top: 50%;
 transform: translate(-50%, -50%);
 border-radius: 70px;
 opacity: 0.8;
}

.start-btn {
    position: relative;
    top: 80%;
    background-color: rgb(17, 4, 28);
    color: white;
    width: 20vw;
    height: 10vh;
    font-size: xx-large;
    cursor: pointer;
}