.meeting-inputs {
    /* display: flex; */
    width: 70%;
    height: max-content;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* flex-direction: row;
    align-items: flex-start;
    justify-content: center; */
    overflow-y: auto;
    height: fit-content;
    /* flex-wrap: wrap; */
    /* align-content: center; */
    z-index: 3;
    display: grid; 
    grid-auto-rows: 1fr; 
    grid-template-columns: 0.5fr 0.8fr; 
    grid-template-rows: 0.8fr 0.7fr 0.7fr; 
    align-items: end;
    justify-items: start;
    gap: 0px 0px; 
    grid-template-areas: 
      "name-title name-input"
      "topic-title topic-input"
      "date-title date-input"; 
}

.meeting-info {
    width: 100%;
    height: 100%;
}

.meeting-label {
    font-size: 1.5vmax;
    padding-left: 3vw;
    font-weight: 100;
}

.meeting-name-input {
    width: 35vw;
    background-color: transparent;
    border: none;
    border-bottom: solid;
    border-color: rgba(255, 255, 255, 0.95);
    font-size: 5vmax;
    color: white;
    font-family: assistant;
    font-weight: bold;
}

.meeting-name-input::placeholder {
    font-size: 3vmax;
    color: rgba(255, 255, 255, 0.95);
    font-family: assistant;
    font-weight: normal;
    opacity: 0.7;
}

.meeting-topic-input {
    border: none;
    border-bottom: solid;
    border-color: rgba(255, 255, 255, 0.95);
    background-color: transparent;
    width: 45vw;
    font-size: 2vmax;
    color: white;
    font-family: assistant;
}

.meeting-topic-input::placeholder {
    font-size: 1.5vmax;
    color: rgba(255, 255, 255, 0.95);
    font-family: assistant;
    font-weight: normal;
    opacity: 0.7;
}

.meeting-date-input {
    border: none;
    border-bottom: solid;
    border-color: rgba(255, 255, 255, 0.95);
    background-color: transparent;
    width: max-content;
    font-size: 2vmax;
    color: rgba(255, 255, 255, 0.95);
    font-family: assistant;
    margin-top: 3vh;
}

.meeting-date-input::placeholder {
    font-size: 1.5vmax;
    color: rgba(255, 255, 255, 0.95);
    font-family: assistant;
    font-weight: normal;
    opacity: 0.7;
}

::-webkit-calendar-picker-indicator {
    cursor: pointer;
    filter: invert(100%);
}

.padding-bottom {
    padding-bottom: 3vh;
}

.checkbox-date {
    width: 1.5vw;
    margin: 0 0 0 2vw;
    cursor: pointer;
}

.opacity-half {
    opacity: 0.5;
}

.name-title { grid-area: name-title; }
.topic-title { grid-area: topic-title; }
.date-title { grid-area: date-title; }
.name-input { grid-area: name-input; }
.topic-input { grid-area: topic-input; }
.date-input { grid-area: date-input; }